@model WorkSearch.ViewModels.UserCompanies.IndexViewModel
@using WorkSearch.Helpers;

<h2 class="box">Ваши компании</h2>

    <div class="box">
        <a class="btn btn-primary" asp-action="Create">Зарегистрировать компанию</a>
    </div>

@if(Model.Companies.Count() == 0){
    <h4 class="box">Нет компаний</h4>
}else{
    <div class="company-container">
        @foreach (var c in Model.Companies)
        {
                <div class="company-box">
                                 <img asp-append-version="true" src="@StringHelper.GetPhotoPath(c.PhotoUrl)" width="150" height="200">
                                    <div class="company-content-box">
                                <div >
                                    <h3>@c.Name </h3>
                                            <span class="company-place">@c.PlaceOfResidence</span>
                                    <p>@StringHelper.GetCuttedText(c.Description)</p>
                                </div>


                                                     <a class="btn btn-primary" asp-route-id="@c.Id" asp-area="" asp-action="Details">Открыть</a>
                               </div>

                </div>
        }
    </div>
    

}